.sign_in_form
  max-width: 350px
  margin: 0 auto

  .form-control
    padding: 10px
    box-sizing: border-box
    font-size: 120%
    height: auto
    position: relative
    &:focus
      z-index: 2

  .user_agenda
    margin-bottom: -1px

    .form-control
      border-bottom-left-radius: 0px
      border-bottom-right-radius: 0px

  .user_email
    margin-bottom: -1px

    .form-control
      border-radius: 0px

  .user_password
    .form-control
      border-top-left-radius: 0px
      border-top-right-radius: 0px

  input[type=submit]
    @extend .btn-primary
    @extend .btn-block
    @extend .btn-lg

    margin-bottom: 20px
