.invoices
  > table
    @extend .table-bordered
    @extend .table-hover
    margin-top: 30px

    th.lines, td.lines
      width: 50%

    .profit
      @extend .success

    .loss
      @extend .danger

  table
    @extend .table
    @extend .table-condensed

    table
      @extend .table-condensed

      td.cost
        width: 150px


      .cost-not-filled
        @extend .warning

  .submit
    text-align: right

  .no-cost-filled-in
    @extend .warning

  .show-lines
    @extend .btn, .btn-default

    .line-count
      @extend .badge
